{% extends 'base.html.twig' %}

{% block title %}Categorie!{% endblock %}

{% block body %}



    <h1>Veuillez consutlter nos articles</h1>
    <div class="row">
        {% for club in clubs %}
        <div class="col-md-4 ">
            <div class="card">
            
                <div class="card-body">
                    <img src="{{ asset(club.image) }}" alt="{{ club.label }}" class="card-img-top">
                    <h5 class="card-title">{{ club.label }}</h5>
                    <p class="card-text">{{ club.yearAt ? club.yearAt|date('Y') : 'N/A' }}</p>
                    <p class="card-title">{{ club.price|cash }}</p>

                    
                    <a href="{{ path('shop_league', {'id' : club.league.id }) }}" class="btn btn-primary" target="_blank">league</a>
    
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}