{% extends 'base.html.twig' %}

{% block title %}Categorie!{% endblock %}

{% block body %}



    <h1>Veuillez consutlter nos articles</h1>
    <div class="row">
        {% for club in clubs %}
        <div class="col-md-4 ">
            <div class="card">
                <img src="{{ asset(club.image) }}">
                <div class="card-body">
                    <h5 class="card-title">{{ club.label }}</h5>
                    <p class="card-text">{{ club.price }} Euros</p>
                    <p class="card-text">{{ club.yearAt.date }}</p>
                    {# <p class="card-text">{{ club.country.label }}</p> #}
                    <a href="{{ path('shop_single', {'id' : club.id }) }}" class="btn btn-primary" target="_blank">Maillot</a>
    
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}